body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.top-content{
    position: relative;
    background: #e0ec43;
    text-align: left;
    padding: 30px;
}
h1 {
    padding: 30px;
    margin-bottom: 0;
}
.logo {
    width: 500px;
    margin-top: -60px;
}
.about {
    display: flex;
    justify-content: space-between;
}
.map-box {
    text-align: center;
}
.map {
    width: 400px;
}
.bio {
    padding: 15px;
}

@media only screen and (max-width: 860px) {
    .about{
        flex-direction: column-reverse
    }
}

.bottom-content {
    padding: 30px;
    background: #f53c40;
    border-top: 4px solid #2e2925;
}

.audit-wrapper {
    text-align: center;
}
.audit-image {
    width: 600px;
}
.email {
    color: #ffffff;
}

@media only screen and (max-width: 630px) {
    .audit-image {
        width: 460px;
    }
    .logo {
        width: 360px;
    }
    .map {
        width: 300px;
    }
}